# Server
SERVER_PORT=8080
logging.pattern.console=${CONSOLE_LOG_PATTERN:%green(%d{HH:mm:ss.SSS}) %blue(%-5level) %red([%thread]) %yellow(%logger{15}) - %cyan(%msg%n)}
# Database
DB_URL=jdbc:mysql://localhost:3306/barber_db
DB_USERNAME=root
DB_PASSWORD=root
DB_DRIVER=com.mysql.cj.jdbc.Driver

# JWT
JWT_SECRET=your-super-secret-key-change-in-production-minimum-256-bits-long-for-security
JWT_EXPIRATION=86400000

